* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  @media only screen and (min-width: 401px) and (max-width: 960px) {

  }

  @media only screen and (min-width: 961px) {
    
  }

}
body {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  padding: 20px;
}

.ghetty {
  height: 300px;
}

.groupcenter {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button1 {
  text-align: center;
  border: none;
}
.button {
  background-color: Blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.padding {
  padding: 11px;
}

.padding-bottom {
  padding-bottom: 11px;
}

.padding-head {
  padding-top: 11px;
}

.blue {
  color: blue;
}


  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
 
}

li{
  display: inline-block;
  padding: 0px 20px;
}

nav{
  text-align: center;
  /* padding-bottom: 30px; */
  padding: 20px 0px 30px 0;
}
